img{
    width:250px;
    height:200px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 75px;
    border-radius: 45%;
}

.btTxt submit {
        width:250px;
        height:200px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 75px;
        border-radius: 45%;
}
